#!/usr/bin/make -f

MFILE=Makefile.sftp-server
export prefix=/usr

override_dh_testdir:
	dh_testdir
	[ -L Makefile ] || ln -s $(MFILE) Makefile

build:
	dh build

clean:
	dh clean
	[ -L Makefile ] && rm -f Makefile || true

install: build
	dh install

binary-indep: install

binary-arch: install
	dh binary-arch

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
